$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1450px;


//============================== Colors ==============================================

.green {
    color: rgba(83, 232, 139);
}

$light-light-green: #e6f7f3;
$light-green: #a9e8da;
$green: #32a188;
$dark-green: #277d6a;
$white: #FFF; 
$black: #000000;