//============================== Screen width ==============================================


$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1450px;


//============================== Colors =====================================================


$light-light: #ffd6ba; 
$light: #fedfca;
$main: #dceeea;
$dark: #6f868e;
$dark-dark: #353947;
$beige: #ede7da;

$white: #FFF; 
$black: #000000;