@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/base/mixins';
.contact-page {
    background-color: $light-light-green;
    height: fit-content;


    h1 {
        color: $green;
        font-size: 50px;

        @include respond-to(md) {        
            font-size: 40px;
            text-align: center;
        }
        
        @include respond-to(xs) {        
            font-size: 35px;
            padding-top: 50px;
        }
    }

    &_row {
        
        @include respond-to(md) {        
            flex-direction: column !important;   
             
        }
    }
    &__input-block {
        width: 45%;
        
        @include respond-to(lg) {        
            width: 48%;
        }
        @include respond-to(md) {        
            width: 70%;
        }
        @include respond-to(sm) {        
            width: 100%;            
        }
        
        h4 {
            color: $green;
            font-size: 35px;
            padding-top: 50px;
            @include respond-to(xs) {        
                font-size: 25px;
                padding-top: 30px;
            }
        }
        
        &__item {
            padding-top: 37px;
            @include respond-to(lg) {        
                padding-top: 33px;
            }
        }
    
        &__label {
            font-size: 20px;
        }
        &__input {
            height: 55px;
            width: 100%;
            border: 1px solid $green;
            background-color: $light-light-green;
            border-radius: 3px;
            margin-top: 5px;
            padding: 5px;
            padding-left: 10px;
            font-size: 30px;
            @include respond-to(md) {        
                height: 50px;
            }
            @include respond-to(sm) {        
                height: 45px;           
            }

            &:focus {
                box-shadow: 5px 5px 5px $light-green;
                outline-offset: 0px;
                outline: none;                
            }
        }
        &__textarea {
            height: 110px;
            resize: vertical;
            width: 100%;
            border: 1px solid $green;
            background-color: $light-light-green;
            border-radius: 3px;
            margin-top: 5px;
            padding: 5px;
            padding-left: 10px;
            font-size: 30px;
        }
        &__button {
            color: $green;
            margin-top: 35px;
            padding-left: 55px;
            padding-right: 55px;
            border: 3px solid $green;
            border-radius: 3px;
            @include respond-to(sm) {        
                width: 100%;           
            }
        }
    }

    &__contacts-block {
        width: 45%;
        margin-top: 15px;
        @include respond-to(xl) {   
            margin-top: 12px;
        }
        @include respond-to(lg) {        
            width: 49%; 
            margin-top: 8px;           
        }
        @include respond-to(md) {        
            width: 70%;
        }
        @include respond-to(sm) {        
            width: 100%;            
        }

        &__item {
            background-color: $light-green;
            width: 100%;
            height: 135px;
            margin-top: 35px;
            @include respond-to(xl) { 
                margin-top: 37px;
            }
            @include respond-to(lg) {        
                height: 125px; 
                margin-top: 42px;
            }

            & div {
                margin-left: 35px;
                @include respond-to(lg) {        
                    margin-left: 20px;            
                }
                @include respond-to(xs) {        
                    margin-left: 10px;            
                }
                & h6 {
                    color: $dark-green;
                    font-size: 25px;
                    @include respond-to(xs) {        
                        font-size: 20px;            
                    }
                }
                & p {
                    color: black;
                    font-size: 20px;
                    padding-top: 15px;
                    @include respond-to(lg) {        
                        font-size: 18px;            
                    }
                }
            }
        }
        &__icon {
            width: 70px;
            height: 70px;            
            margin-left: 25px;
            opacity: 0.6;
            border: 5px solid $green;
            padding: 7px;
            
            @include respond-to(sm) {        
                width: 50px;
                height: 50px;            
            }
        }
    }
}
.modal {
    transform: scale(1) translate(-50%, -50%);           
    transition: transform 0.5s 0s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;    
    width: 35%;
    background-color: $green;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 40px;
    min-height: 25%;
    @include respond-to(md) {        
        width: 50%;          
    }
    @include respond-to(sm) {        
        width: 80%;          
    }
    
    
    button {
        padding: 10px;
        background: none;
        box-shadow: none;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 4px;

        span {
            margin: 0;
            padding: 0;
            border: 0;
            background: none;
            position: absolute;
            width: 50px;
            height: 50px;
          
            &:before,
            &:after {
              content: '';
              position: absolute;
              top: 0px;
              left: -25px;
              right: 25px;
              height: 4px;
              background: white;
              border-radius: 4px;
            }
          
            &:before {
              transform: rotate(45deg);
            }
          
            &:after {
              transform: rotate(-45deg);
            }
        }
    }
    h1 {   
        color: white;        
        letter-spacing: 0.5px;
        padding-bottom: 25px;
        text-align: center;
        padding-top: 50px;
        
    }

}