.contact-page {
    background-color: $light-light-green;

    h1 {
        color: $green;
        font-size: 50px;
    }
    &__input-block {
        h4 {
            color: $green;
            font-size: 35px;
            padding-top: 50px;
        }
        width: 40%;
        
        &__item {
            padding-top: 30px;
        }
    
        &__label {
            font-size: 20px;
        }
        &__input {
            height: 65px;
            width: 100%;
            border: 1px solid $green;
            background-color: $light-light-green;
            border-radius: 3px;
            margin-top: 5px;
            padding: 5px;
            padding-left: 10px;
            font-size: 30px;

            &:focus {
                box-shadow: 5px 5px 5px $light-green;
                outline-offset: 0px;
                outline: none;                
            }
        }
        &__button {
            color: $green;
            margin-top: 35px;
            padding-left: 55px;
            padding-right: 55px;
            border: 3px solid $light-green;
            border-radius: 3px;
        }
    }

    &__contacts-block {
        width: 40%;

        &__item {
            background-color: $light-green;
            width: 100%;
            height: 130px;
            margin-top: 30px;

            & div {
                margin-left: 35px;
                & h6 {
                    color: $green;
                    font-size: 25px;
                }
                & p {
                    color: black;
                    font-size: 20px;
                    padding-top: 15px;
                }
            }
        }
        &__icon {
            width: 80px;
            height: 80px;            
            margin-left: 25px;
            opacity: 0.5;
            border: 5px solid $green;
            padding: 7px;
        }
    }
}
.modal {
    transform: scale(0);           
    transition: transform 0.5s 0s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 35%;
    background-color: $green;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 40px;
    min-height: 25%;
    
    button {
        padding: 10px;
        background: none;
        box-shadow: none;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 4px;

        span {
            margin: 0;
            padding: 0;
            border: 0;
            background: none;
            position: absolute;
            width: 50px;
            height: 50px;
          
            &:before,
            &:after {
              content: '';
              position: absolute;
              top: 0px;
              left: -25px;
              right: 25px;
              height: 4px;
              background: white;
              border-radius: 4px;
            }
          
            &:before {
              transform: rotate(45deg);
            }
          
            &:after {
              transform: rotate(-45deg);
            }
        }
    }
    h1 {   
        color: white;        
        letter-spacing: 0.5px;
        padding-bottom: 25px;
        text-align: center;
        padding-top: 50px;
    }

}