@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/base/mixins';

.projects-page {
  
    &__container {
      position: relative;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
    }

    &__button {
      background-color: #fff;
      border: 2px solid $green;      
      cursor: pointer;  
      height: 80px;
      width: 50px;
      position: absolute;
      left: 25%;
      top: 50%;
      z-index: 2;

      &.button_down {
        transform: translateX(-100%);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &.button_up {
        transform: translateY(-100%);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }      

      &:hover .arrow_up{
        color: $dark-green;
        animation: up 0.3s ease-in-out forwards;
      }
      &:hover .arrow_down{
        color: $dark-green;
        animation: down 0.3s ease-in-out forwards;
      }
      &:focus {
        outline: none;
      }
      .arrow {     
        width: 20px;
        height: 20px;
        border-width: 4px 4px 0 0;
        border-style: solid;
        margin: 10px;
        color: $green;
        position: relative;
        display: inline-block;
        vertical-align: middle;    
        box-sizing: border-box;
        &:after, &:before {
          content: "";
          box-sizing: border-box;
        }
        &:before{
          right: 0;
          top: -3px;
          position: absolute;
          height: 4px;
          box-shadow: inset 0 0 0 32px;
          transform: rotate(-45deg);
          width: 35px;
          transform-origin: right top;
        }
        &_up{
          transform: rotate(-45deg) ;
        }
        &_down{
          transform: rotate(135deg);
        }
        .arrow_up {        
          animation: notUp 0.3s ease-in-out forwards;
        }
        .arrow_down {        
          animation: notDown 0.3s ease-in-out forwards;
        }
    }
    }  
    
}
  
.sidebar {
    height: 100%;
    width: 25%;
    position: absolute;  
    left: 0;
    transition: top 0.5s ease-in-out;
    @include respond-to(md) {        
      height: 100px;
      width: 100%;
      position: relative;
      margin-top: 200px;
      border: 3px solid red;
      
      left: 0;
  }

  &__item {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;    
      background-color: $light-green;
      padding-left: 20px;
      padding-right: 20px;
      a {
        h1 {
          color: $dark-green;
        }
      }
      
  }
}



.main-slide {
  height: 100%;
  position: absolute;
  left: 25%;
  width: 75%;
  transition: bottom 0.5s ease-in-out;


  @include respond-to(md) {        
    height: 100vh;
    width: 100%;
    position: relative;
    left: 0;
    top: 10px;
}

  &__item {
    
    height: 100%;
    width: 100%;
    padding-top: 57px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-light-green;
    h5 {
      color: $dark-green;
      font-size: 20px;
      line-height: 25px;
      padding-top: 10px;
      text-align: center;
    }
  }
  &__image-container {
    width: 80%;
    height: 530px;
    margin-top: 50px;
    border: 2px solid $green;
    background-color: white;
    border-radius: 5px;

    img {
      width: 100%;
    }
  }
}









@keyframes up {
  0%   {transform: rotate(-45deg) translateY(0px);}      
  100% {transform: rotate(-45deg) translateY(-10px) translateX(10px);}
}
@keyframes down {
  0%   {transform: rotate(135deg) translateY(0px);}      
  100% {transform: rotate(135deg) translateY(-10px) translateX(10px);}
}
@keyframes notUp {
  0%   {transform: rotate(-45deg) translateY(-10px) translateX(10px);}      
  100% {transform: rotate(-45deg) translateY(0px);}
}
@keyframes notDown {
  0%   {transform: rotate(135deg) translateY(-10px) translateX(10px);}      
  100% {transform: rotate(135deg) translateY(0px);}
}