@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/base/mixins';

.projects-page {
  
    &__container {
      position: relative;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
      @include respond-to(md) {        
        overflow: auto;
      }
    }

    &__button {                 
      cursor: pointer;  
      height: 80px;
      width: 50px;
      position: absolute;
      left: 25%;
      top: 50%;
      z-index: 2;
      @include respond-to(lg) {        
        width: 43px;
      }
      @include respond-to(md) {        
        display: none;
      }

      &.button_down {
        transform: translateX(-100%);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      &.button_up {
        transform: translateY(-100%);        
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }      

      &:hover .arrow_up{
        color: $dark-dark;
        transform: rotate(-45deg) translateY(-10px) translateX(10px);
      }
      &:hover .arrow_down{
        color: $dark-dark;
        transform: rotate(135deg) translateY(-10px) translateX(10px);
      }
      
      .arrow {     
        width: 20px;
        height: 20px;
        border-width: 4px 4px 0 0;
        border-style: solid;
        margin: 10px;
        color: $dark;
        position: relative;
        display: inline-block;
        vertical-align: middle;    
        box-sizing: border-box;
        transition: transform 0.3s ease-in-out;
        &:after, &:before {
          content: "";
          box-sizing: border-box;
        }
        &:before{
          right: 0;
          top: -3px;
          position: absolute;
          height: 4px;
          box-shadow: inset 0 0 0 32px;
          transform: rotate(-45deg);
          width: 35px;
          transform-origin: right top;
        }
        &_up{          
          transform: rotate(-45deg) translateY(0px);          
        }
        &_down{
          transform: rotate(135deg) translateY(0px);          
        }
        
    	}
  	}  
  	.sidebar {
  	  height: 100%;
  	  width: 25%;
  	  position: absolute;  
  	  left: 0;
  	  transition: top 0.5s ease-in-out;
  	  display: block;

  	  @include respond-to(md) {        
  	    display: none;
  	  }

  		&__item {
  		    height: 100%;
  		    width: 100%;
  		    display: flex;
  		    flex-direction: column;
  		    align-items: center;
  		    justify-content: center;    
  		    background-color: $light;
		
  		    a {
  		      h1 {
  		        
  		        padding-left: 50px;
  		        padding-right: 50px;
  		      }
  		    }
		
  		}
	}



	.main-slide {
	  height: 100%;
	  position: absolute;
	  left: 25%;
	  width: 75%;
	  transition: bottom 0.5s ease-in-out;


	  	@include respond-to(md) {        
	  	  height: 100vh;
	  	  width: 100%;
	  	  position: relative;
	  	  left: 0;
	  	  top: 50px;
		
	  	}

  		&__item {    
  		  height: 100%;
  		  width: 100%;
  		  padding-top: 57px;   
  		  display: flex;
  		  flex-direction: column;
  		  justify-content: center;
  		  align-items: center;
  		  background-color: $main;
		
  		  @include respond-to(md) {
  		    border-bottom: 4px solid $light;
  		    padding-top: 0px;      
  		  }
  		  @include respond-to(sm) {      
  		    padding-top: 0px;
  		    height: 80%;
  		  }
  		  a {
  		    h1 {
  		      display: none;
  		      @include respond-to(md) {
  		        display: block;
  		        color: $dark-dark;
  		        padding-bottom: 50px;
  		      }
  		    }
  		  }
  		  h5 {
  		    color: $dark-dark;
  		    font-size: 25px;
  		    line-height: 25px;
  		    padding-top: 10px;
  		    text-align: center;
  		    padding-left: 50px;
  		    padding-right: 50px;
			letter-spacing: 1px;
  		  }
  		}
  		&__image-container {
  		  width: 80%;
  		  height: 530px;
  		  margin-top: 50px;
  		  border: 4px solid $dark;
  		  background-color: transparent;
  		  border-radius: 5px;
		
  		 	@include respond-to(sm) {
  		 	  height: 260px;
  		 	}
	  
  		 	img {
  		 	  width: 100%;
  		 	}
  		}	
	}

}
  









