@import '../../../assets/styles/base/variables';
@import '../../../assets/styles/base/mixins';

.home-page {
    

    &__content {
        margin: 190px auto;
        width: 80%;
        @include respond-to(lg) {        
            margin: 150px auto;
            width: 100%;
        }
        @include respond-to(md) {        
            margin: 150px auto;
            width: 80%;
        }
        @include respond-to(xs) {        
            margin: 180px auto;   
            width: 80%;     
        }

        & h1 {
            
            text-align: center;
            
            
        }
        & h3 {
            color: $dark-dark;
            font-size: 25px;
            text-align: center;
            padding-top: 50px;
            letter-spacing: 1px;
            @include respond-to(md) {        
                font-size: 20px;
                padding-top: 30px;
            }
            
        }

    }
    &__icons-block {
        margin: 100px auto;        
        width: 70%;

        @include respond-to(md) {        
            margin: 80px auto;        
            width: 80%;
        }
        @include respond-to(sm) {        
            margin: 50px auto;
            width: 90%;
        }
        

        &__item {
            width: 100px;
            height: 100px;
            
            @include respond-to(sm) {        
                width: 70px;
                height: 70px;
            }
            @include respond-to(xs) {        
                width: 50px;
                height: 50px;
            }
        }
    }
    &__icon {
        width: 100px;
        height: 100px;
        transition: transform .3s;
        filter: invert(19%) sepia(25%) saturate(424%) hue-rotate(189deg) brightness(96%) contrast(91%);
        
        @include respond-to(sm) {        
            width: 70px;
            height: 70px;
        }
        @include respond-to(xs) {        
            width: 50px;
            height: 50px;
        }
        &:hover {
            transform: scale(1.1);            
        }
    }
}
.facebook-icon {
    width: 120px;
    height: 120px;
    margin-top: -10px;
    margin-left: -10px;
    @include respond-to(sm) {        
        width: 80px;
        height: 80px;
        margin-top: -5px;
        margin-left: -5px;
    }
    @include respond-to(xs) {        
        width: 60px;
        height: 60px;
        margin-top: -5px;
        margin-left: -5px;
    }
    &:hover {
        transform: scale(1.1);
    }
}