@import './base/global.scss';


html, body, h1, h2, h3, h4, h5, h6, p, span, button, input, form, header, footer, section, nav, img, a, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish-700';
    height: 100vh;
    margin: 0 auto;    
    overflow: auto;
    background-color: $main;

    &.dark {
        background-color: $dark-dark;
        h1 {
            color: $beige;
        }
        h3, h4 {
            color: $beige;
        }
        button {
            border: 2px solid $light;
            background-color: $dark-dark;
            color: $light;
            &:hover {
                border: 2px solid $main;
                &:hover {        
                    box-shadow: 2px 2px 10px 5px $light;
                }
            }
        }

        .home-page {
            img {
                filter: invert(87%) sepia(55%) saturate(478%) hue-rotate(300deg) brightness(101%) contrast(108%);
                opacity: 1;
            }
        }
        .contact-page { 
            &__contacts-block {
                &__item {
                    background-color: $dark;
                }
                h6 {
                    color: $white;
                }
                p {
                    color: $white;
                }
                &__icon {                    
                    filter: invert(87%) sepia(55%) saturate(478%) hue-rotate(300deg) brightness(101%) contrast(108%);
                    border: 5px solid black;
                    opacity: 1;                    
                }
            }
        }
        
        .cv-page {
            h5 {
                color: $light;
            }
            .skill-graph {    
                background-color: $dark;
                
                .skill-graph__line { 
                    background-color: $light;                    
                }
            }            
        }
        .projects-page  {
            .sidebar__item {                   
                background-color: $dark;                
                h1 {
                    color: $dark-dark;
                } 
                img {
                    filter: invert(19%) sepia(25%) saturate(424%) hue-rotate(189deg) brightness(96%) contrast(91%);                                      
                }             
            }
            .main-slide{
                &__item {
                    background-color: $dark-dark;
                    @include respond-to(md) {
                        border-bottom: 4px solid $light-light;
                              
                    }
                    h5 {                
                        color: $beige;
                    }
                }
                
            }
            &__button {                
                &:hover .arrow_up{
                    color: $light;                    
                }
                &:hover .arrow_down{
                    color: $light;
                }
                .arrow {
                    color: $light;
                }
            }
        }
        .form {
            &__label {
                color: $light;
            }
            &__input {    
                color: $light-light;
            }
            &__textarea {                    
                color: $light-light;
            }
            
        }
        .gallery {  
            &__button {
                border: none;
                &:hover {
                    border: none;
                    box-shadow: none;
                    &:hover {        
                        box-shadow: none;
                    }            
                }
                .arrow {
                    color: $light-light;
                    &::after {
                        background-color: $light-light;
                    }
                }
            }          
            &__circle__container {
                border: none;
                &:hover {
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    
                    &:hover {        
                        box-shadow: none;
                    }
                }
            
                &.selected .gallery__circle{                
                    background-color: $main;
                    box-shadow: 1px 1px 10px 1px $light-light;
                }
                .gallery__circle {
                    background-color: $light-light;
                    border: none;
                }            
            }
            &__icon {
                filter: invert(87%) sepia(55%) saturate(478%) hue-rotate(300deg) brightness(101%) contrast(108%);
                opacity: 1; 
            }
        }
        nav {
            border-bottom: 4px solid $main;      
            background: $dark;   
            .mobile__button {
                border: none;
                background: $dark;
                &:hover {
                    border: none;
                    &:hover {        
                        box-shadow: none;
                    }
                }
                span {
                    background: $dark-dark;                    
                }
            }
            .mobile > .nav__menu_mobile {
                background-color: $dark;
                & li > a {
                    color: $dark-dark;
                    &:hover {                        
                        color: $main;
                    }
                    &.active {                        
                        color: $main;
                        text-decoration: underline;                        
                    }
                }
            }
            .desktop > .nav__menu_desktop > li > a {
                color: $beige;
                &:hover {
                    background: $dark-dark;                        
                }
                
                &.active {
                    background: $dark-dark;
                    
                }
            } 
        }
        .theme-switch {
            span {                
                &::after {                
                background-color: $light-light;                
                box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
                }
            }
        }
        .modal {
            background-color: $dark-dark;
            border: 2px solid $light-light;
            &__button {
                span {
                    &:before,
                    &:after {                      
                      background: $light-light;                      
                    }
                }
            }
            h1 {
                color: $light-light; 
            }
        }
    }
}

.container {
    position: relative;
    padding: 120px 300px 55px;
    min-height: 100vh;
    @include respond-to(xl) {        
        padding: 120px 150px;        
    }
    @include respond-to(lg) {        
        padding: 120px 130px;        
    }
    @include respond-to(md) {        
        padding: 110px 100px;        
    }
    @include respond-to(sm) {        
        padding: 110px 50px;        
    }
    @include respond-to(xs) {        
        padding: 80px 30px;        
    }
}
  

a {
    text-decoration: none;
    color: black;    
}

h1 {
    color: $dark-dark;
    letter-spacing: 1px;
    font-size: 50px;
    @include respond-to(lg) {        
        font-size: 45px;
    }
    @include respond-to(md) {        
        font-size: 40px;
    }
    @include respond-to(sm) {        
        font-size: 30px;
    }
}
h2 {
    color: $dark-dark;
    letter-spacing: 1px;
    font-size: 40px;
    @include respond-to(lg) {        
        font-size: 35px;
    }
    @include respond-to(md) {        
        font-size: 30px;
    }
    @include respond-to(sm) {        
        font-size: 25px;
    }
}
h5 {
    font-size: 25px;  
    padding-left: 50px;
  	padding-right: 50px;
    letter-spacing: 1px;
    @include respond-to(lg) {        
        font-size: 20px;
    }
    @include respond-to(md) {        
        font-size: 18px;
        letter-spacing: normal;        
    }
    @include respond-to(xs) {        
        padding-left: 30px;  
        padding-right: 30px;      
    }
}





//============================= Buttons =================================================

button {
    color: $dark-dark;
    background-color: $light;
    cursor: pointer;  
    border: 2px solid $dark;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px !important;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 5px;
    font-family: 'Mulish-600';
    padding-left: 55px;
    padding-right: 55px;  
        
    @include respond-to(md) {        
        font-size: 20px !important;           
    }
    @include respond-to(sm) {        
        width: 100%;   
        padding-left: 20px;
        padding-right: 20px;        
    }
    &:hover {
        border: 2px solid $dark;
        &:hover {        
            box-shadow: 2px 2px 10px 5px $dark;
        }
    }
    
}


// ==================================== flex ====================================

.flex {
    display: flex;
}
    
.flex-row {
    flex-direction: row;
}
.justify-between  {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}



