@import './base/global.scss';


html, body, h1, h2, h3, h4, h5, h6, p, span, button, input, form, header, footer, section, nav, img, a, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish-700';
    height: 100vh;
    margin: 0 auto;    
    overflow: auto;
    background-color: $main;

    &.dark {
        background-color: $dark-dark;
        h1 {
            color: $beige;
        }
        h3, h4 {
            color: $beige;
        }
        button {
            border: 2px solid $light;
            background-color: $dark-dark;
            color: $light;
            &:hover {
                border: 2px solid $main;
                box-shadow: 5px 5px 5px $dark;
            }
        }

        
        .contact-page {            
            &__input-block{
                &__label {
                    color: $light;
                }
                &__input {    
                    color: $light-light;
                }
                &__textarea {                    
                    color: $light-light;
                }
                
            }
            &__contacts-block {
                &__item {
                    background-color: $dark;
                }
                h6 {
                    color: $white;
                }
                p {
                    color: $white;
                }
                &__icon {                    
                    border: 5px solid $light-light;                    
                }
            }
        }
        .cv-page {
            
            h5 {
                color: $light;
            }
            .skill-graph {    
                background-color: $dark;
                
                .skill-graph__line { 
                    background-color: $light;                    
                }
            }            
        }
        .projects-page  {
            .sidebar__item {                   
                background-color: $dark;                
                h1 {
                    color: $dark-dark;
                }              
            }
            .main-slide{
                &__item {
                    background-color: $dark-dark;
                    @include respond-to(md) {
                        border-bottom: 4px solid $main;                        
                    }
                    h5 {                
                        color: $beige;

                    }
                }
                &__image-container {                    
                    border: 4px solid $dark;                    
                }
            }
            &__button {
                &:hover .arrow_up{
                    color: $light;                    
                }
                &:hover .arrow_down{
                    color: $light;
                }
                .arrow {
                    color: $light;
                }
            }
        }
        .gallery {
            &__img {
                border-bottom: 4px solid $dark;
            }
            &__control-block {
                .arrow_right, .arrow_left {
                    border: none;
                    border-top: 4px solid $light-light;
                    border-left: 4px solid $light-light;
                }
                .arrow_right::after, .arrow_left::after{                  
                    background-color: $light-light;
                      
                }
            }
            &__circle {
                background-color: $light-light;
                border: none;
            }
            .selected {                
                background-color: $main;
            }
        }
        nav {
            border-bottom: 4px solid $main;      
            background: $dark;   
            .mobile__button {
                border: none;
                background: $dark;
                span {
                    background: $dark-dark;
                }
            }
            .mobile > .nav__menu_mobile {
                background-color: $dark;
                & li > a {
                    color: $dark-dark;
                    &:hover {                        
                        color: $main;
                    }
                    &.active {                        
                        color: $main;
                        text-decoration: underline;                        
                    }
                }
            }
            .desktop > .nav__menu_desktop > li > a {
                color: $beige;
                &:hover {
                    background: $dark-dark;                        
                }
                
                &.active {
                    background: $dark-dark;
                    
                }
            } 
        }
        .theme-switch {
            span {                
                &::after {                
                background-color: $light-light;                
                box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}

.container {
    position: relative;
    padding: 100px 300px 55px;
    height: 100vh;
    @include respond-to(xl) {        
        padding: 120px 150px;        
    }
    @include respond-to(lg) {        
        padding: 120px 130px;        
    }
    @include respond-to(md) {        
        padding: 110px 100px;        
    }
    @include respond-to(sm) {        
        padding: 110px 50px;        
    }
    @include respond-to(xs) {        
        padding: 80px 30px;        
    }
}
  

a {
    text-decoration: none;
    color: black;    
}

h1 {
    color: $dark-dark;
    letter-spacing: 1px;
    font-size: 50px;
    @include respond-to(lg) {        
        font-size: 45px;
    }
    @include respond-to(md) {        
        font-size: 40px;
    }
    @include respond-to(sm) {        
        font-size: 30px;
    }
}






//============================= Buttons =================================================

button {
    color: $dark-dark;
    background-color: $light;
    cursor: pointer;  
    border: 2px solid $dark;
    text-transform: uppercase;
    height: 60px;    
    font-size: 25px !important;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 5px;
    font-family: 'Mulish-600';
    @include respond-to(md) {        
        font-size: 20px !important;   
    }
    

    &:hover {        
        box-shadow: 5px 5px 5px $light;
    }
}


// ==================================== flex ====================================

.flex {
    display: flex;
}
    
.flex-row {
    flex-direction: row;
}
.justify-between  {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}



